body {
    background-image: linear-gradient(to right, #00AAFF, #00FF6C);
}

.title {
    color: antiquewhite;
    text-align: center;
    margin-right: -40%;
    font-size: 250%;
}

.container {
    width: 183px;
    height: 248px;
    margin: auto;
    margin-top: 8%;
    margin-right: 47%;
    padding-right: 3px;
}

#screen {
    background-color: black;
    color: white;
    height: 60px;
    width: 248px;
    font-size: 30px;
    margin-left: 0%;
    border: 1px solid white;
    outline: none;
    text-align: right;
    border-style: hidden;
}

.number {
    font-size: 15px;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: none;
    border: none;
}

.equals {
    width: 123px;
    height: 60px;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: none;
    border: none;
}

.clear {
    width: 123px;
    height: 60px;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: none;
    border: none;
}

.copyright {
    color: antiquewhite;
}